/*  Copyright 2009 - 2013 Comment Contest plug-in for Wordpress by Thomas "Zhykos" Cicognani  (email : tcicognani@zhyweb.org)

  This program is free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation; either version 2 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program; if not, write to the Free Software
  Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
 */

.removedComment {
    background-color: #FFE5EB;
}

.cheatComment {
    background-color: #DDFFC9;
}

.restoreLink {
    color: #006905;
    display: none;
}

.cheatLink {
   color: #006905; 
}

.stopCheatLink {
    color: #BC0B0B;
    display: none;
}

.help {
    height: 15px;
    vertical-align: middle;
    margin-left: 10px;
}

#mainHelp {
    margin-top: 15px;
}

.subsubsub {
    clear: both;
}

#filters {
    border-left: 1px dotted black;
    padding-left: 10px;
    margin-bottom: 20px;
}

/* ===================== TipTip CSS - Version 1.3 ============================*/

/* Code from BackWPup - WordPress Backup Plugin */
/* http://marketpress.com/product/backwpup-pro/ */

#tiptip_holder {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
}

#tiptip_holder.tip_top {
    padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
    padding-top: 5px;
}

#tiptip_holder.tip_right {
    padding-left: 5px;
}

#tiptip_holder.tip_left {
    padding-right: 5px;
}

#tiptip_content {
    font-size: 11px;
    color: #fff;
    text-shadow: 0 0 2px #000;
    padding: 4px 8px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background-color: rgb(25, 25, 25);
    background-color: rgba(25, 25, 25, 0.92);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: 0 0 3px #555;
    -webkit-box-shadow: 0 0 3px #555;
    -moz-box-shadow: 0 0 3px #555;
}
#tiptip_content code {
	background:#1d94cf;
	color:#fff;
	text-shadow:none;
	padding:2px;
	font-size:12px;
}
#tiptip_content a{
	color: #0CF;
}
#tiptip_content a:hover{
	color: #F93;
}
#tiptip_arrow, #tiptip_arrow_inner {
    position: absolute;
    border: 6px solid transparent;
    height: 0;
    width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
    border-top-color: #fff;
    border-top-color: rgba(255, 255, 255, 0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
    border-bottom-color: #fff;
    border-bottom-color: rgba(255, 255, 255, 0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
    border-right-color: #fff;
    border-right-color: rgba(255, 255, 255, 0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
    border-left-color: #fff;
    border-left-color: rgba(255, 255, 255, 0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
    margin-top: -7px;
    margin-left: -6px;
    border-top-color: rgb(25, 25, 25);
    border-top-color: rgba(25, 25, 25, 0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
    margin-top: -5px;
    margin-left: -6px;
    border-bottom-color: rgb(25, 25, 25);
    border-bottom-color: rgba(25, 25, 25, 0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
    margin-top: -6px;
    margin-left: -5px;
    border-right-color: rgb(25, 25, 25);
    border-right-color: rgba(25, 25, 25, 0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
    margin-top: -6px;
    margin-left: -7px;
    border-left-color: rgb(25, 25, 25);
    border-left-color: rgba(25, 25, 25, 0.92);
}

/* ========================== End TipTip =====================================*/